<div class="codee">
    <div class="container contact-form">
        <h1>Contact form</h1>
        <hr>
        <div class="row">
           
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <label>Meassage</label>
                    <textarea class="form-control" placeholder="Meassage"></textarea>
                </div>
                <div class=""form-group1>
                    <button class="btn btn-primary" routerLink="/login">submit</button>
                </div>
            </div>
            <div class="col-md-6" style="padding-left: 120px;padding-top: 80px;font-size: 20px;" >
                <address>W-343 Cosk</address><br>
                <p>Email:- test@email.com</p><br>
                <p>Mobile:- 34563463434</p>
            </div>
        </div>
    </div>
</div>
