
<div class="exp">
    <div class="work">Work-Experience</div>
      <div class="Appre" >Apprenticeship</div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Job title</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="job">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Company Name</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Company">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Start Date</label>
                <input type="date" class="form-control" id="inputEmail4" placeholder="date">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">End Date</label>
                <input type="date" class="form-control" id="inputPassword4" placeholder="date">
            </div>
        </div>

        <div class="job">Work experience</div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Job title</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="job">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Company Name</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Company">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Start Date</label>
                <input type="date" class="form-control" id="inputEmail4" placeholder="date">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">End Date</label>
                <input type="date" class="form-control" id="inputPassword4" placeholder="date">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Specialization</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Specialization">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Handled Technologies</label>
                <textarea name="" id="inputtech" class="form-control" cols="30" rows="8"></textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-primary bg-primary" routerLink="/contact">Next page</button>
</div>
