<div class="profile" style=" background: url('assets/pa3.jpg');  background-repeat: no-repeat; margin: 0px;
padding: 0px;
background-size: cover;">
    <section>
        <div class="text-container">
            <p>Hello,</p>
            <p>I'M AKSHAY</p>
            <P>I am software Developer <br>& Designer!!</P>
            <button class="hire-btn">Hire Me</button>
            <button class="down-cv"> Download CV</button>
        </div>
        <img src="assets/img1.png" alt="model" class="model">
    </section>
    <button type="submit" class="btn btn-primary bg-primary" routerLink="/about">Next page</button>
</div>
