<div class="container-fluid">
    <div class="row" style="height: 100vh">
    
      <div
        class="col-12 bg d-flex flex-column  justify-content-center align-items-center"
        [formGroup]="fbFormGroup"
      >
        <div class="alert alert-danger" role="alert" *ngIf="uiInvalidCredential">
          A simple danger alert—check it out!
        </div>
         <div style="border: 2px solid;
         box-shadow: 5px 10px 8px #888888;
         padding: 30px;
         border-radius: 15px;">
        <div class="h4">Application Register</div>
  
        <div>
          <input
            type="text"
            placeholder="Enter Username"
            class="form-control"
            formControlName="username"
          />
        </div>
  
        <div class="mt-1">
          <input
            type="password"
            placeholder="Enter Password"
            class="form-control"
            formControlName="password"
          />
        </div>
  
        <div class="mt-1">
          <input
            type="text"
            placeholder="Enter Email"
            class="form-control"
            formControlName="email"
          />
        </div>
  
        <div class="mt-1">
          <input
            type="text"
            placeholder="Enter Mobile"
            class="form-control"
            formControlName="mobile"
          />
        </div>
  
        <button
          class="btn btn-sm btn-block btn-warning mt-2 mb-2"
          [disabled]="!fbFormGroup.valid"
          (click)="registerHere()"
        >
          Register Here
        </button>
        <div>
        <a href="" style="display: flex;justify-content: 
        center;align-items: center;">login Here</a>
        </div>
       
      </div>
    </div>
  </div>
</div>